{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href={% url 'index' %}>Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href={% url 'admin:index' %}>Admin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href={% url 'categories' %}>Categories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href={% url 'tasks' %}>Tasks</a>
    </li>
{% endblock navbar %}

{% block content %}
    <form method="POST" id="category-form">
        {% csrf_token %}
        <h3>Add a new category</h3>
           <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="name">Name:</label>      
                        <input id="name" class="form-control" type="text" name="name" maxlength="30" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>         
                        <input id="description" class="form-control" type="text" name="description" maxlength="100" required>
                    </div>
                    
                <div class="mx-6 my-2">
                    <button type="submit" class="btn btn-primary w-100">Add</button>
                </div>
                <!-- <div class="col-md-6">
                    
                </div> -->
            </div>
        </form>
{% endblock content %}

{% block script %}
    <script>
        var CSRF_TOKEN = '{{ csrf_token }}';
        var URL = "{% url 'add_category' %}"
    </script>
    <script src={% static '/js/send_category.js' %}></script>
{% endblock script %}

