{% extends 'base.html' %}
{% load static %}
{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href={% url 'index' %}>Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href={% url 'categories' %}>Categories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href={% url 'admin:index' %}>Admin</a>
    </li>
{% endblock navbar %}

{% block content %}

<div class="row">
    <div class="col">
        <a href={% url 'tasks'%} class="button btn btn-info" >Order by Date</a>
    </div>
    <div class="col">
        <a href={% url 'expired_tasks'%} class="button btn btn-info">Expired Tasks</a>
    </div>
    <div class="col">
        <a href={% url 'unexpired_tasks'%} class="button btn btn-info">Unexpired Tasks</a>
    </div>
    <div class="col">
        <a href={% url 'last_tasks'%} class="button btn btn-info">Last Tasks</a>
    </div>
</div>


<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Deadline</th>
            <th scope="col">Title</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody id="tasks_list">
        {% for task in object_list %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <th>{{task.schedule | date:"Y-m-d H:i"}}</th>
            <th>{{task.title}}</th>
            <th>
                <a href="{% url 'task_detail' task.pk %}" class="btn btn-info">Detail</a>
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
{% block script %}
    <script>
        var CSRF_TOKEN = '{{ csrf_token }}';
    </script>
    <script src={% static 'js/task_list.js' %}></script>
{% endblock script %}


